@model GraysPavers.Models.Category

<form method="post">
    <input asp-for="CategoryId" hidden /> @*This is to mitigate errors when updating. Update has to have an id *@
    <div class="border p3">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <h2 class="text-info pl-3">Delete Category</h2>
        </div>

        <div class="row">
            <div class="col-8">
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="CategoryName"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="CategoryName" disabled class="form-control" />

                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="DisplayOrder"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="DisplayOrder" disabled class="form-control" />
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-8 offset-4 row">

                        <div class="col">
                            <input type="submit" asp-route-id="@Model.CategoryId" asp-action="DeletePost" class="btn btn-danger w-100" value="Delete" />
                            @*Had to move asp action to delete button, was getting null value when placed with form at the top. also specified route id to be model . id *@

                        </div>
                        <div class="col">
                            <a asp-action="Index" class="btn btn-success w-100">Back</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                @* Keep this empty *@
            </div>
        </div>




    </div>
</form>
@*Client Side Validation*@
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}